In [82]:
import numpy as np
import nltk
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sn
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

In [175]:
df = pd.read_csv("spam_ham_dataset.csv")

In [176]:
print(df["label"].value_counts())

ham     3672
spam    1499
Name: label, dtype: int64

In [177]:
df['processed_text']=df['text']

In [178]:
df.head(10)

,Unnamed: 0,label,text,label_num,processed_text
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0,Subject: enron methanol ; meter # : 988291\r\n...
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,"Subject: hpl nom for january 9 , 2001\r\n( see..."
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,"Subject: neon retreat\r\nho ho ho , we ' re ar..."
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1,"Subject: photoshop , windows , office . cheap ..."
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0,Subject: re : indian springs\r\nthis deal is t...
5,2949,ham,Subject: ehronline web address change\r\nthis ...,0,Subject: ehronline web address change\r\nthis ...
6,2793,ham,Subject: spring savings certificate - take 30 ...,0,Subject: spring savings certificate - take 30 ...
7,4185,spam,Subject: looking for medication ? we ` re the ...,1,Subject: looking for medication ? we ` re the ...
8,2641,ham,Subject: noms / actual flow for 2 / 26\r\nwe a...,0,Subject: noms / actual flow for 2 / 26\r\nwe a...
9,1870,ham,"Subject: nominations for oct . 21 - 23 , 2000\...",0,"Subject: nominations for oct . 21 - 23 , 2000\..."

In [179]:
stop_words = set(stopwords.words('english'))

In [180]:
def remove_stopwords(df):
    for i in range(len(df)):
        df["processed_text"][i] = df["processed_text"][i].lower().split()
        filtered_sentence = [w for w in df["processed_text"][i] if not w.lower() in stop_words]
        df["processed_text"][i]=' '.join(filtered_sentence)
    return df

In [181]:
def preprocess(df):
    df['processed_text']=df['processed_text'].str[9:]
    df=remove_stopwords(df)
    df['processed_text']=df['processed_text'].str.replace('[^a-z]+',' ').replace('  ',' ')

In [182]:
preprocess(df)
# df.head(10)

<ipython-input-180-c895addb86f9>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["processed_text"][i] = df["processed_text"][i].lower().split()
<ipython-input-180-c895addb86f9>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["processed_text"][i]=' '.join(filtered_sentence)
<ipython-input-181-b45d25d1d12c>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  df['processed_text']=df['processed_text'].str.replace('[^a-z]+',' ').replace('  ',' ')

,Unnamed: 0,label,text,label_num,processed_text
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0,enron methanol meter follow note gave monday p...
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0,hpl nom january see attached file hplnol xls h...
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0,neon retreat ho ho ho around wonderful time ye...
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1,photoshop windows office cheap main trending a...
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0,indian springs deal book teco pvr revenue und...
5,2949,ham,Subject: ehronline web address change\r\nthis ...,0,ehronline web address change message intended ...
6,2793,ham,Subject: spring savings certificate - take 30 ...,0,spring savings certificate take save use custo...
7,4185,spam,Subject: looking for medication ? we ` re the ...,1,looking medication best source difficult make ...
8,2641,ham,Subject: noms / actual flow for 2 / 26\r\nwe a...,0,noms actual flow agree forwarded melissa jones...
9,1870,ham,"Subject: nominations for oct . 21 - 23 , 2000\...",0,nominations oct see attached file hplnl xls hp...

In [184]:
print(df['processed_text'][0],'\n')
print(df['text'][0],'\n')

enron methanol meter follow note gave monday preliminary flow data provided daren please override pop daily volume presently zero reflect daily activity obtain gas control change needed asap economics purposes

Subject: enron methanol ; meter # : 988291
this is a follow up to the note i gave you on monday , 4 / 3 / 00 { preliminary
flow data provided by daren } .
please override pop ' s daily volume { presently zero } to reflect daily
activity you can obtain from gas control .
this change is needed asap for economics purposes .

In [187]:
train_data = df.sample(frac=0.8,random_state=1).reset_index(drop=True)
test_data = df.drop(train_data.index).reset_index(drop=True)
train_data = train_data.reset_index(drop=True)

print(df['label'].value_counts() / df.shape[0] * 100)

print(train_data['label'].value_counts() / train_data.shape[0] * 100)

print(test_data['label'].value_counts() / test_data.shape[0] * 100)

ham     71.01141
spam    28.98859
Name: label, dtype: float64
ham     70.72758
spam    29.27242
Name: label, dtype: float64
ham     69.052224
spam    30.947776
Name: label, dtype: float64

In [190]:
p_spam = train_data['label'].value_counts()['spam']/len(train_data)
p_spam

0.2927241962774958

In [191]:
p_spam = train_data['label'].value_counts()[1]/len(train_data)
p_spam

0.7072758037225042

In [ ]:
n_spam =